old_stuff/*
__pycache__/*
URDF/t-pose.npy
*/__pycache__/
models_smplx_v1_1/
*.npy
graph_net.py
models_smplx_v1_1.zip
*.npz
.vscode/launch.json
profile_output.prof
*.mp4
*.obj
*.mtl
*.glb
nao_pose.pkl
credits.txt
*.zip
*not_colored/
*.png
*.txt